.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    background-color: #8B5CF6;
    height: 2px;
    left: 0;
    bottom: 0px;
    width: 0;
    transition: 0.6s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link[aria-current="page"]::after {
    width: 100%;
}

.btn-primary {
    background-color: #8B5CF6 !important;
    border-color: #8B5CF6 !important;
}

.btn-primary:hover {
    background-color: #6f34f7 !important;
    border-color: #8B5CF6 !important;
}

.btn-light {
    color: #6f34f7 !important;
}

.experience {
    background-image: url(images/background.png);
}

footer a:hover {
    color:#8B5CF6 !important;
    transition: 0.3s ease;
}

@media (max-width: 991px) {
    .nav-link:hover::after {
        width: 15%;
    }
    .nav-link[aria-current="page"]::after {
        width: 15%;
    }
}